//
// Variables
//

// Sprite
$sprite-image: "../images/global-sprite";

// Typography
@import "neat";

// Colors
$body-back: #f2f2f2;
$section-back: #ccc;
$text-color: #333;
$title-color: #333;

// Neat variables
$max-width: 1200px;
$grid-colums: 12;

// Breakpoints
$desktop: 960px;
$tablet: 620px;
