//
// Variables
//

// Sprite
$sprite-image: "../images/global-sprite";

// Typography
@import "neat";

// Colors
$body-back: #ccc;
$section-back: #fff;
$text-color: #036;
$title-color: #cc9;

// Neat variables
$max-width: 1200px;
$grid-colums: 12;

// Breakpoints
$desktop: 960px;
