.nav {
	@include span-columns(12);
	overflow: hidden;
}

.logo {
	@include span-columns(2);
}

.nav-container {
	@include span-columns(10);
	@include omega();
}

.nav-item {
	float: left;
	text-align: center;
	width: 25%;
}