.nav {
	background-color: $nav-color;
	box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
	height: 75px;
	overflow: hidden;
    padding: 10px 2%;
    position: absolute;
    transition: height .5s linear;
    width: 100%;

    @media screen and (min-width: $desktop) {
    	overflow: hidden;
    }
}

.expanded {
	height: 315px;
}

.logo {
	float: left;
	width: 100px;

	img {
		width: 100%;
	}
}

.show-menu {
	border: 1px solid #333;
	float: right;
	@include font-size(20);
	margin: 5px 2%;
	padding: 10px 1%;
    text-align: center;
    text-transform: uppercase;
    width: 100px;

	@media screen and (min-width: $desktop) {
		display: none;
	}
}

.nav-container {
	width: 100%;

	a {
		text-transform: uppercase;
	}

	@media screen and (min-width: $desktop) {
		float: left;
		width: 600px;
	}
}

.nav-item {
	float: left;
	margin: 10px 0;
	padding: 10px 0;
	text-align: center;
	width: 100%;

	a {
		color: $nav-text-color;
	}

	@media screen and (min-width: $desktop) {
		width: 25%;
	}
}