.product-info-container {
	@include span-columns(12);

	@media screen and (min-width: $desktop) {
		@include span-columns(6 of 12);
		background-color: rgba(0,0,0,.05);
		margin-left: 5%;
		padding: 10px 2%;
	}
}

.product-maker {
	width: 100%;
}

.product-price {
	width: 100%;
}

.average-container {
	@include span-columns(10);
}

.average-item {
	@include span-columns(2);
	@include omega(5n);

	img {
		width: 50%;
	}
}

.recent-review-container {
	@include span-columns(12);

	img {
		@include span-columns(4);
	}
}

.recent-review-info {
	@include span-columns(8);

	h3 {
		width: 100%,
	}

	p {
		width: 100%;
	}
}

.cta {
	@include span-columns(3);
}

.product-info-description {
	@include span-columns(12);

	p {
		@include span-columns(12);
	}
}

.produc-description-title {
	@include span-columns(12);
}