.product-review-container {
	@include span-columns(12);
	border: 1px dashed $nav-color;
    padding: 15px 1%;

	@media screen and (min-width: $desktop) {
		@include span-columns(5 of 12);
		@include omega();
	}
}

.category-name {
	@include font-size(14);
	display: block;
    margin: 10px 0;
    text-transform: capitalize;
	width: 100%;
}

.product-title {
	@include font-size(32);
	text-transform: capitalize;
	width: 100%;
}

.cta {
	border: 1px solid #ccc;
    color: #f2f2f2;
    margin: 24px 0;
    padding: 10px 1%;
    text-align: center;

    &:hover {
    	background-color: darken($nav-color, 25%);
    }
}

.product-current-img {
	@include span-columns(12);
}

.product-img-list {
	@include span-columns(12);
}

.product-img-item {
	@include span-columns(3);
	@include omega(4n);
	margin: 0;
	padding: 0;
	img {
		width: 100%;
	}
}