.related-container {
	@include span-columns(12);
}

.related-title {
	font-size: 24px;
    margin: 20px 0;
    text-transform: capitalize;
	width: 100%;
}

.related-list {
	@include span-columns(12);
	border: 1px solid $nav-color;
	padding: 20px 0;
}

.related-item {
	@include span-columns(8 of 12);
	@include shift();
	text-align: center;

	@media screen and (min-width: 620px) {
		@include span-columns(2 of 12);
		@include shift(1.5);

		img {
			width: 100%;
		}
	}
}

.related-item-title {
	@include font-size(16);
	text-transform: capitalize;
}