.reviews-container {
	@include span-columns(12);
}

.review-commentary-field {
	@include span-columns(12);
	margin: 35px 0;

	form {
		width: 100%;
	}
}

.commentary-input {
	border: none;
    margin: 20px 0;
    padding: 15px 1%;
	width: 100%;

	@media screen and (min-width: 620px) {
		width: 75%;	
	}
}

.commentary-submit {
	background-color: $section-back;
    border: none;
    color: $text-color;
    padding: 10px 1%;
    width: 25%;  
}

.review-commentary-list {
	@include span-columns(12);

	background-color: $section-back;
	padding: 50px 5%;
}

.review-commentary-item {
	@include span-columns(12);

	border-bottom: 1px solid $text-color;
	margin: 30px 0;
	padding: 10px 1%;
}

.review-commentary-user-info {
	@include span-columns(12);

	img {
		width: 50%;
	}

	h3 {
		width: 100%;
	}

	@media screen and (min-width: 620px) {
		& img {
			width: 15%;
		}
	}
}

.review-commentary-body {
	@include span-columns(12);

	h3 {
		width: 100%;
	}
}

.review-average-container {
	@include span-columns(10);
	@include omega
}

.review-average-item {
	@include span-columns(2);

	img {
		width: 100%;
	}

	@media screen and (min-width: 620px) {
		& img {
			width: 50%;
		}
	}

	@media screen and (min-width: 960px) {
		@include span-columns(1);
		@include omega();
	}
}

.review-commentary-content {
	@include span-columns(12);
}